NEXT_PUBLIC_SITE_URL=https://calculette.tax
NEXT_PUBLIC_APP_STORE_URL=https://apps.apple.com/fr/app/calculette-fiscale/id6769760817?uo=4
NEXT_PUBLIC_UMAMI_SCRIPT_URL=https://stats.hgnn.io/script.js
NEXT_PUBLIC_UMAMI_WEBSITE_ID=7bc5c49d-c360-42b3-af67-8c02012f8517
